//
   Created by anton_gorshenin on 24.04.2015.

extends layout
block content
   //#{devices}


   table
         each _id in devices
            tr
               td #{_id.device_id}
               td #{_id.registered}
               td #{_id.school}
               td #{_id.timestamp}
               td #{_id.longitude}
               td #{_id.latitude}
               td #{_id.apk_version}
               td
                  button(onclick='showmap('+_id.longitude+','+_id.latitude+')') show map


   a(href='#add') add new device
   a(class='overlay', id='add', href='#x')
   .popap-add
      p Add new device
      form(method='post' action='/createDevice')
         select(name='school')
            option(placeholder='first') school π1
            option(placeholder='second') school π2
            option(placeholder='third') school π3
            option(placeholder='fourth') school π4
            option(placeholder='fifth') school π5
         br
         select(name='apk')
            option(placeholder='first') 4.0
            option(placeholder='second') 4.2
            option(placeholder='third') 4.4
         br
         input(type="number", name='number' value='1')
         script.
            document.getElementById('mynumber').onkeypress = function (e) {
               if (e.charCode == 45) {
                  this.value = -this.value; //this.value *= -1;
                  return false;
               }
            };


         br
         button(type='submit') Add
      a(class='close-add' href='#close-add')

      //a(class='overlay', id='map', href='#x')
      //.popap-add
      //   #id='map'
      //      script(src="/map/map.js")
      //   a(class='close-add' href='#close-add')
   script.
      function showmap(i,j){
            mark.setLatLng(L.latLng(i,j)).update()
            .bindPopup('“ÛÚ')
               .openPopup();
            document.getElementById('map').classList.add('show').classList.remove('no-show');
         //console.log (i,j,map)
               }


   #map(class='no-show')
      script.
         var map = L.map('map').setView([55.7422, 37.5719], 12);
         // add an OpenStreetMap tile layer
         L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
         }).addTo(map);
         // add a marker in the given location, attach some popup content to it and open the popup
         var mark = L.marker([55.7422, 37.5719]);
         mark.addTo(map)
                 .bindPopup('“ÛÚ')
                 .openPopup();